/* In index.css or App.css */
@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* scale active slide */
.swiper-slide-active {
  transform: scale(1.15) !important;
}
.swiper-slide {
  transform: scale(0.9);
}
.embla {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100vw;
  --slide-size: 45%;
  --slide-spacing: 0rem;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide__media {
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 4/3;
  user-select: none;
  object-fit: cover;
  min-height: 250px;
}
.embla__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
}
.embla__dots {
  display: flex;
  gap: 0.9rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.embla__dot {
  -webkit-appearance: none;
  appearance: none;
  background-color: #6b7280;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot--selected {
  background-color: white;
}
